html {
	font-size: 16px;
	font-family: 'Helvetica';
}

body {
	width: 100%;
	background-color: #ddd;
}

#letters {
	max-width: 100%;
	width: auto;
	background-color: #fff;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}